fastapi==0.135.1
faster_whisper==1.0.3
gTTS==2.5.1
itsdangerous==2.2.0
loguru==0.7.2
numpy==2.4.2
passlib==1.7.4
pgvector==0.3.4
protobuf==7.34.0
pydantic==2.12.5
pydantic_settings==2.13.1
python-dotenv==1.2.2
python_jose==3.5.0
sentence_transformers==3.2.0
SQLAlchemy==2.0.36
starlette==0.52.1
